<!DOCTYPE html>
<html>
    <head>
        <title>Cupcakes</title>
    </head>

    <body>
        <h1> All Cupcakes</h1>

        <ul id="show_cupcakes">
            
        </ul>

        <h2>Add a New Cupcake</h2>
        <form id = "new_cupcake">
            <label for = "flavor">Flavor:</label>
            <input type="text" id = "flavor" name = "flavor" placeholder="Enter a Flavor">

            <label for = "size">Size:</label>
            <input type="text" id="size" name = "size" placeholder="Enter a Size">

            <label for = "rating">Rating:</label>
            <input type="text" id="rating" name = "rating" placeholder="Enter a Rating">

            <label for = "image">Image:</label>
            <input type="text" id="image" name = "image" placeholder="Enter an Image URL">

            <button>Add Cupcake</button>
        </form>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="/static/cupcakes.js"></script>
    </body>
</html>